.spacing {
    margin-bottom: 1rem;
}

.large-spacing {
    margin-bottom: 2rem;
}

.pad {
    padding: 1rem;
}

.title {
    text-align: center;
    font-size: xx-large;
    color: #1F5FBF;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    font-size: x-large;
    color: #1F5FBF;
    font-weight: 500;
}

.newAbsenseAction{
    margin-left: 0.5%;
}